/**
 * Styles for admin file import page.
 */

.pdi-hidden {
	display: none !important;
}

.alert {
	margin: 20px 20px 0 0 ;
}

.post-view-perma {
	margin-right: 15px;
}

.pdi-file-list {
	margin-right: 20px;
	max-width: 400px;
}

.pdi-file-list-label {
	margin-top: 25px;
}

.pdi-file-input-wrap, .pdi-import-option-wrap {
	margin-top: 20px;
}
